@media screen and (max-width: 991px) {
  /* h1 {
    font-size: 25vmin;
  } */

  .c-section__heading {
    margin-top: 15%;
    font-size: 15vmin;
  }
}

@media screen and (max-width: 767px) {
  .c-section__heading {
    margin-top: 15%;
    font-size: 15vmin;
  }
}

@media screen and (max-width: 320px) {
  .c-section__heading {
    margin-top: 15%;
    font-size: 15vmin;
  }
}
